<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>메모</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/home.css}">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Kakao Ara In</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">홈 <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/list">메모 목록</a>
            </li>
<!--            <li class="nav-item dropdown">-->
<!--                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--                    Dropdown-->
<!--                </a>-->
<!--                <div class="dropdown-menu" aria-labelledby="navbarDropdown">-->
<!--                    <a class="dropdown-item" href="#">Action</a>-->
<!--                    <a class="dropdown-item" href="#">Another action</a>-->
<!--                    <div class="dropdown-divider"></div>-->
<!--                    <a class="dropdown-item" href="#">Something else here</a>-->
<!--                </div>-->
<!--            </li>-->
        </ul>
        <form class="form-inline my-2 my-lg-0" action="/search" method="GET">
            <div>
                <input class="form-control mr-sm-2" name="keyword" type="text" placeholder="검색어를 입력해주세요" aria-label="Search">
            </div>

            <button class="btn btn-outline-success my-2 my-sm-0">검색하기</button>
        </form>
    </div>
</nav>

<div id="background">
<h2 th:text="${memoDto.title}"></h2>
<p th:inline="text">작성일 : [[${#temporals.format(memoDto.createdDate, 'yyyy-MM-dd HH:mm')}]]</p>
<!--th:inline 을 통해 변수값을 삽입-->

<p th:text="${memoDto.content}"></p>

<!-- 수정/삭제 -->
<div>
    <a th:href="@{'/post/edit/' + ${memoDto.id}}">
        <button>수정</button>
    </a>

    <form id="delete-form" th:action="@{'/post/' + ${memoDto.id}}" method="post">
        <input type="hidden" name="_method" value="delete"/>
<!--        RESTful API 작성을 위해 hiddenHttpMethodFilter를 이용. form 태그의 method는 post이지만, 실제로는 컨트롤러에서 delete로 매핑이됩니다-->
        <button id="delete-btn">삭제</button>
    </form>
</div>
</div>
<!-- 변수 셋팅 -->
<script th:inline="javascript">
    /*<![CDATA[*/
    var memoDto = /*[[${memoDto}]]*/ "";
    /*]]>*/

    // JS에서 Java 변수를 사용하기 위한 방식, 개발자도구 콘솔창에서 memoDto 확인 가능
</script>

<!-- script -->
<script th:inline="javascript" th:src="@{/js/memo.js}"></script>
</body>
</html>