<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>수정</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/home.css}">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand ml-auto" href="/">Kakao Ara In</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">홈 <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/list">메모 목록</a>
            </li>
<!--            <li class="nav-item dropdown">-->
<!--                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--                    Dropdown-->
<!--                </a>-->
<!--                <div class="dropdown-menu" aria-labelledby="navbarDropdown">-->
<!--                    <a class="dropdown-item" href="#">Action</a>-->
<!--                    <a class="dropdown-item" href="#">Another action</a>-->
<!--                    <div class="dropdown-divider"></div>-->
<!--                    <a class="dropdown-item" href="#">Something else here</a>-->
<!--                </div>-->
<!--            </li>-->
        </ul>
        <form class="form-inline my-2 my-lg-0" action="/tagsearch" method="GET">
            <div>
                <input class="form-control mr-sm-2" name="tag" type="text" placeholder="태그를 입력해주세요" aria-label="Search">
            </div>

            <button class="btn btn-outline-success my-2 my-sm-0 mr-2">태그 검색</button>
        </form>

        <form class="form-inline my-2 my-lg-0" action="/search" method="GET">
            <div>
                <input class="form-control mr-sm-2" name="keyword" type="text" placeholder="제목을 입력해주세요" aria-label="Search">
            </div>

            <button class="btn btn-outline-success my-2 my-lg-0 mr-2">제목 검색</button>
        </form>
    </div>
</nav>

<!--    Restful API Put 메소드 맵핑-->
<!--    hidden 타입 게시글 id, JPA(BoardRepository.save())에서 insert와 update 같은 메서드 사용-->
<!--    id 값이 없다면 insert, id 값이 이미 존재한다면 update가 동작 -->
<div id="background">
<form th:action="@{'/post/edit/' + ${memoDto.id}}" method="post">
    <input type="hidden" name="_method" value="put"/>
    <input type="hidden" name="id" th:value="${memoDto.id}"/>

    제목 : <input type="text" name="title" th:value="${memoDto.title}"> <br>
    태그 : <input type="text" name="tag" th:value="${memoDto.tag}"> <br>
    <input type="submit" value="수정"> <br>
    <textarea name="content" th:text="${memoDto.content}"></textarea><br>


</form>
</div>
</body>
</html>