<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<!--xmlns:th="http://www.w3.org/1999/xhtml 이 부분은 인텔리제이 thymeleaf 사용 시 삽입해야 되는 듯-->
<head>
    <meta charset="UTF-8">
    <title>내 게시판</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css.map}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/home.css}">
<!--    th는 thymeleaf 속성 @{}는 애플리케이션 설치된 곳을 기준으로 하는 상대경로 입력가능-->
</head>
<body>

<div th:insert="common/header.html" id="header"></div>

<!--사이드바, 간이 메모 태그바-->
<div id="sideBar">
    <table>
        <thead>
        <tr>
            <th class="two wide">번호</th>
            <th class="ten wide">제목</th>
            <th class="ten wide">태그</th>
        </tr>
        </thead>

        <tbody>
        <!-- CONTENTS !-->
        <tr th:each="memo : ${memoList}">
            <td>
                <a th:href="@{'/post/' + ${memo.id}}">
                    <span th:text="${memo.id}"></span>
                </a>
            </td>
            <td>
                <a th:href="@{'/post/' + ${memo.id}}">
                    <span th:text="${memo.title}"></span>
                    <!--                memo.title의 값을 span 태그의 text값으로 설정-->
                </a>
            </td>
            <td>
                <a th:href="@{'/tagsearch?tag=' + ${memo.tag}}">
                <span th:text="${memo.tag}"></span>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div id="backgroundHome">
    <div>
        <div>안녕 내 게시판</div>

        <form action="/post" method="post">
            제목 : <input type="text" name="title" /> <br />
            태그 : <input type="text" name="tag" /> <br />
            <textarea name="content"></textarea>
            <button id="saveButton">저장!!!</button><br />
        </form>


    </div>
</div>


<script th:insert="/js/jquery-latest.js"></script>
<script
        th:insert="/js/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"
></script>
<script
        th:insert="/js/popper.min.js"
        integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
        crossorigin="anonymous"
></script>
<script
        th:insert="/js/bootstrap.min.js"
        integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
        crossorigin="anonymous"
></script>

<script th:insert="/js/save.js"></script>

<!--<script th:inline="javascript">-->
<!--    const $saveButton = document.getElementById('saveButton');-->

<!--    function log(str) {-->
<!--        console.log(str);-->
<!--    }-->

<!--    // $(window).bind('keydown', function (event) {-->
<!--    //     if (event.ctrlKey || event.metaKey) {-->
<!--    //         switch (String.fromCharCode(event.which).toLowerCase()) {-->
<!--    //             case 's':-->
<!--    //                 event.preventDefault();-->
<!--    //                 log('save');-->
<!--    //                 $saveButton.click();-->
<!--    //                 break;-->
<!--    //         }-->
<!--    //     }-->
<!--    // });-->

<!--    log("hi");-->
<!--</script>-->
<script th:href="@{/js/save.js}"></script>
</body>
</html>
