<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<!--xmlns:th="http://www.w3.org/1999/xhtml 이 부분은 인텔리제이 thymeleaf 사용 시 삽입해야 되는 듯-->
<head>
    <meta charset="UTF-8">
    <title>메모 목록</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/home.css}">
    <!--    th는 thymeleaf 속성 @{}는 애플리케이션 설치된 곳을 기준으로 하는 상대경로 입력가능-->
</head>
<body>

<!--bootstrap에서 가져온 헤더, 네비게이션 바-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Kakao Ara In</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">홈 <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/list">메모 목록</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<div id="background">
<table>
    <thead>
    <tr>
        <th class="two wide">번호</th>
        <th class="ten wide">제목</th>
        <th class="ten wide">태그</th>
        <th class="three wide">작성일</th>
    </tr>
    </thead>

    <tbody>
    <!-- CONTENTS !-->
    <tr th:each="memo : ${memoList}">
        <td>
            <span th:text="${memo.id}"></span>
        </td>
        <td>
            <a th:href="@{'/post/' + ${memo.id}}">
                <span th:text="${memo.title}"></span>
<!--                memo.title의 값을 span 태그의 text값으로 설정-->
            </a>
        </td>
        <td>
            <span th:text="${memo.tag}"></span>
        </td>
        <td>
            <span th:text="${#temporals.format(memo.createdDate, 'yyyy-MM-dd HH:mm')}"></span>
        </td>
    </tr>
    </tbody>
</table>
</div>


</body>
</html>
